/* Fuentes */

@font-face {
    font-family: 'CANDARA';
	src: url('CANDARA/CANDARA.eot');
	src: local('CANDARA'), url('CANDARA/CANDARA.woff') format('woff'), url('CANDARA/CANDARA.ttf') format('truetype');
}


/* Generales */

*{margin: 0;}
a{text-decoration: none;color: #c2b58f}
a:before{color: #c2b58f}
a:visited{color: #c2b58f}

/* Encabezado */

#idiomas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5%;
}

#español{justify-self: end;}
#ingles{justify-self: start;}

#redes{text-align: right;margin-right: 5%;}
#logo{text-align: center;}
#logo img{
    width: 90vw;
    margin-top: 20%;
    margin-bottom: 20%;
}
.img-redes{height: 3.5vh;}
hr{height: 3vh;color: #c2b58f;margin-left: 0.5%;margin-right: 0.5%;}

/* Aside */ 

aside{text-align: center;margin: 5%; font-family: 'CANDARA'; margin-bottom: 15%;}
aside p {color: #c2b58f;font-size: 1rem;}

/* Galería */

section p{
    color: #c2b58f;
    background-color: #e7e7e8;
    font-family: 'CANDARA';
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4%;
}

section{text-align: center}
.imagen{height: 90%;width: 90%;margin: 1%; margin-bottom: 3%;}

/* Pie de página */

footer{
    display: flex;
    justify-content: center;
    background-color: #e7e7e8;
    width: 100vw;
    margin-top: 5%;
}

footer p{
    font-family: 'CANDARA';
    font-weight: bold;
    font-size: 0.9rem;
    color: #c2b58f;
    margin-top: auto;
    margin-bottom: auto
}

#upward{
    height: 5vh;
    width: 5vh;
}